@charset "utf-8";

/* reset */
* {margin: 0; padding: 0; box-sizing:border-box;}
ul, ol {list-style-type: none;}
hr {display: none;}
h1 {margin: 0;}
a {text-decoration: none; color:#444;}
button {border: none; background: none; text-indent:-9999px;}
img {border: none;}
html {font-size: 0.625em;}
body {font-family: Arial,"맑은 고딕",sans-serif; line-height: 1;}
.blind {position: absolute; top: -9999px; left: -9999px;}
.clear:after {content: ""; display: block; clear: both;}