@charset "utf-8";


* {
    padding:0;
    margin:0;
}
.line1 {
    stroke:#aaa;
    stroke-width:5px;
    fill:transparent;
}

@keyframes right {
    from {transform:translateX(-100%);}
}


/* header */

header {
    width:60.9375%;
    margin:0 auto;
}
.headerInner {
    margin-top:183px;
    position:relative;
}
.headerTop {
    margin-bottom:185px;
}
.headerTop a {
    float:left;
}
.hamburger {
    position:absolute;
    right:0;
    top:0;
    width:1.8%;
    height:20px;
    z-index:20;
}
.hamburger span {
    display:block;
    width:100%;
    height:2px;
    background-color:#c99;
    border-radius:4px;
    transition:all 0.3s linear;

}
.hamburger:hover span:first-child {
    transform:translateY(-2px);
}
.hamburger:hover span:last-child {
    transform:translateY(2px);
}
.hamburger span:nth-child(2) {
    margin:5px 0;
}
.hamburger.active span:first-child {
    transform:translateY(7px)rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    transform:scaleX(0);
}
.hamburger.active span:last-child {
    transform:translateY(-7px) rotate(-45deg);
}
.headerTop .bg {
    position: absolute;
    left:50%;
    top:-183px;
    background:url(../img/headerbg.png) 0 0 no-repeat;
    width:48.03418803419%;
    height:488px;
    transform:translateX(-50%);
    z-index:-1;
}
.headerInner p {
    font-size:194px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:700;
    color:#403d40;
    margin-bottom:48px;
    animation:right 1s linear backwards;
}
.headerInner>span {
    display:block;
    font-size:20px;
    line-height:2.6;
    animation:right 1s linear backwards;
    animation-delay:.5s;
}

/* nav */
.nav {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:1260px;
    background-color:#201e20;
    display:none;
    z-index:19;
}
.navInner {
    width:60.9375%;
    margin:0 auto;
    text-align:center;
}
.bg1 {
    background:url(../img/bgbgbg.png) 0 0 no-repeat;
    width:562px;
    height:488px;
    margin:0 auto;
}
.box1 {
    margin-top:-350px;
    text-align:center;
    margin-bottom:130px;
}
.box1>div {
    width:19.3%;
    height:226px;
    background-color:#fff;
    border-radius:50%;
    margin:0 auto;
}
.box1 p {
    font-size:43px;
    color:#aeadae;
    margin-top:95px;
    margin-bottom:25px;
}
.box1 p strong {
    color:#fff;
}
.box1 span {
    font-size:22px;
    line-height:2.26;
    color:#aeadae;
}
.box1 h4 {
    font-size:22px;
    line-height:2.26;
    color:#aeadae;
    font-weight:400;
}
.box1 h4 a {
    color:aquamarine;
}
.box2 {
    width:100%;
    display:inline-block;
}
.box2 div {
    float:left;
    width:25.87%;
    margin-right:11%;
}
.box2 div:last-child {
    margin-right:0;
}
.box2 .phto {
    
}
.box2>div>p {
    color:#fff;
    font-size:16px;
    font-family: 'Noto Sans', sans-serif;
}
.box2>div>span {
    display:block;
    width:100%;
    height:5px;
    background-color:#ffffff;
    border-radius:5px;
    margin:28px 0 19px;
    position:relative;
}
.box2 div:first-child span span {
    width:70%;
    height:5px;
    background:#98d9e2;
    position:absolute;
    top:0;
    left:0;
}
.box2 div:nth-child(2) span span {
    width:90%;
    height:5px;
    background:#98d9e2;
    position:absolute;
    top:0;
    left:0;
}
.box2 div:nth-child(3) span span {
    width:70%;
    height:5px;
    background:#98d9e2;
    position:absolute;
    top:0;
    left:0;
}
.box2>div>h4 {
    font-size:16px;
    color:#aeadae;
}




/* main */
.work {
    width:60.9375%;
    margin:190px auto 0;
}
.work>div {
    float:left;
    width:50%;
    height:585px;
    background-color:#baecee;
    z-index:10;
    overflow:hidden;
    position:relative;
}
.work>div:nth-child(2) {
    background-color:#fae1ef;
}
.work>div:nth-child(3) {
    background-color:#fefbe5;
}
.work>div:nth-child(4) {
    background-color:#e8bdf5;
}
.work div>div {
    background:url(../img/cat.png) center no-repeat;
    background-size:80%;
    width:100%;
    height:100%;
    text-align:center;
    transform:scale(1);
    transition:all 0.4s;
    overflow:hidden;
    position:relative;
    opacity:1;
    z-index:1;
}
.work div:nth-child(2)>div {
    background:url(../img/dolgo.png) center no-repeat;
    background-size:100%;
}
.work div:nth-child(3)>div {
    background:url(../img/iaman.png) center no-repeat;
    background-size:100%;
}
.work div:nth-child(4)>div {
    background:url(../img/grte.png) center no-repeat;
    background-size:80%;
}
.work>div>div:hover {
    opacity:0.7;
    transform:scale(1.1);
}
.work>div>div>a {
    display:block;
    width:100%;
    height:100%;
    cursor:pointer;
    position:relative;
    z-index:2;
}
.work>div>div>a>p {
    line-height:60px;
    background:rgb(255,255,255,0.4);
    font-size:30px;
    font-weight:bold;
    color:#000;
    position:absolute;
    left:50%;
    top:50%;
    width:100%;
    height:60px;
    transform:translate(-50%, -50%);
}


/* footer */
footer {
    width:60.9375%;
    margin:0 auto;
    text-align:center;
    position:relative;
}
.footerInner {
    width:100%;
    margin-top:118px;
}
.footerInner h1 {
    font-size:20px;
    font-family: 'Noto Sans', sans-serif; 
    font-weight:600;
    letter-spacing:10px;
    margin-bottom:20px;
}
.footerInner svg {
    width:600px;
    height:400px;
}
.footerInner h2 {
    font-size:60px;
    font-family: 'Noto Sans', sans-serif; 
    font-weight:700;
    margin-bottom:20px;
    text-align:center;
}
.footerInner span {
    font-size:13px;
    color:#777;
    line-height:2.3;
}
.footerInner span address {
    display:inline-block;

}
.footerInner span address a {
    color:#47cace;
    font-style: normal;
}
.sns {
    width:100%;
    margin:75px 0 95px;
    display:inline-block;
}
.sns div {
    width:33.333%;
    float:left;
}
.sns div:first-child {
    padding-left:0;
}
.sns div a {
    font-size:13px;
    color:#333;
    font-family: 'Noto Sans', sans-serif; 
    font-weight:700; 
}

.goTop {
    display:block;
    z-index:30;
    position:fixed;
    right:2.604%;
    bottom:40px;
    width:1.302083%;
    height:25px;
}
.goTop>span {
    display:block;
    width:100%; height:100%;
}
.goTop>span>a {
    display:block;
    color:#fff;
    background:#000;
    width:100%;
    height:100%;
    text-align:center;
    transition: all 0.3s;
}
.goTop>span>a:hover {
    background:#666;
}
.goTop>span>a>i {
    display:block;
    font-size:18px;
    padding:2px 0;
}








