@charset "utf-8";
* { margin:0; padding:0; vertical-align:top; }
html, body { width:100%; height:100%; }
body { font:400 14px/1  'Montserrat', 'arial', 'sans-selif', '굴림', ; color:#555; background-color:#fff; }
ul { list-style:none; }
a { color:#555; text-decoration:none; }
h1 { font-size:40px; font-weight:400; }
h2 { font-size:34px; font-weight:400; }
h3 { font-size:28px; font-weight:400; }
h4 { font-size:22px; font-weight:400; }
h5 { font-size:16px; font-weight:400; }
h6 { font-size:14px; font-weight:400; }
.floatclear:after { content:''; display:block; clear:both; }
.blid { text-indent:-2000px; display:block; overflow:hidden; }
.hidden { display:none; }
i, em, address { font-style:normal; }








